@model MiniProjet_alpha.ViewModels.ClasseViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" border rounded border-success bg-primary">
    <h1 class="display-4">Gestion des classes</h1>
</div>

<p style="margin-top: 40px;">
    <a asp-action="Create" class="btn btn-primary">Ajouter une classe</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.classe.IdClasse)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.classe.Libelle)
            </th>
            <th>
                @Html.DisplayName("Filière")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classes) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.IdClasse)
            </td>
            <td>
                   @Html.DisplayFor(modelItem => item.Libelle)
            </td>
             
        @foreach (var items in Model.Filieres) 
            {
                if(items.IdFiliere == item.FiliereIdFiliere)
                {
                     <td>
                   @Html.DisplayFor(modelItem => items.Libelle)
                    </td>
                    break;
                }
            }
           
                        <td>
                <a asp-action="Edit" asp-route-id="@item.IdClasse" class="btn btn-secondary">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdClasse" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClasse" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
