@model MiniProjet_alpha.ViewModels.SeanceViewModel


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails</h1>

<div>
    <h4>Gestion des séances</h4>
    <hr />
    <dl class="row">
   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seance.IdSeance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seance.IdSeance)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seance.Jourseance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seance.Jourseance)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seance.Heuredebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seance.Heuredebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seance.Heurefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seance.Heurefin)
        </dd>
                       </dd>
           <dt class = "col-sm-2">
            @Html.DisplayName("Professeur")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProfesseur)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayName("Classe")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleClasse)
        </dd>
                       </dd>
           <dt class = "col-sm-2">
            @Html.DisplayName("Salle")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleSalle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.seance.IdSeance" class="btn btn-primary">Modifier</a> |
    <a asp-action="Index" class="btn btn-success">Retourner vers la liste principale</a>
</div>
