@model IEnumerable<MiniProjet_alpha.Model.Salle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" border rounded border-success bg-primary">
    <h1 class="display-4">Gestion des salles</h1>
</div>
<p  style="margin-top: 40px;">
    <a asp-action="Create" class="btn btn-primary">Ajouter une salle</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.IdSalle)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.IdSalle)
            </td>
            <td>
                   @Html.DisplayFor(modelItem => item.Libelle)
            </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item.IdSalle" class="btn btn-secondary">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdSalle" class="btn btn-secondary">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSalle" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
