@model IEnumerable<MiniProjet_alpha.Model.Filiere>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.IdFiliere)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFiliere)
            </td>
            <td>
                   @Html.DisplayFor(modelItem => item.Libelle)
            </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item.IdFiliere">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFiliere">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFiliere">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
