@model MiniProjet_alpha.ViewModels.EtudiantViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Supprimer</h1>

<h3>Confirmer</h3>
<div>
    <h4>Gestion des étudiants</h4>
    <hr />
     <dl class="row">
   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant.IdEtudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.IdEtudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Prenom)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant.Matricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Matricule)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayName("Classe")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleClasse)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Etudiant.IdEtudiant" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Retourner vers la liste principale</a>
    </form>
</div>
